body {
	background-color: #17181a;
}

h1 {
	font-family: 'Open Sans';
	font-size: 30px;
	color: #e8ecee;
	font-weight: 400;
}

h2 {
	font-family: 'Open Sans';
	font-size: 20px;
	color: #e8ecee;
	font-weight: 300;
}

button {
	color: #3399ff;
	border-radius: 25px;
}
