/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* elements */
body {
  background-color: #17181a;
}

h1 {
  font-family: 'Open Sans';font-size: 30px;
  color: #e8ecee;
  font-weight: 400;
}

h2 {
  font-family: 'Open Sans';font-size: 20px;
  color: #e8ecee;
  font-weight: 300;
}

/* classes */
.centre {
  margin: 0;
  position: absolute;
  top: 46%;
}