/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* elements */
body {
  background-color: #2f3134;
}

h1 {
  font-family: 'Open+Sans';font-size: 22px;
  color: #f5fbff;
}

/* classes */
.centre {
  margin: 0;
  position: absolute;
  top: 50%;
}

/*   
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  
*/